<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ayminformatica.protegidas">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:name="androidx.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@drawable/logoprotegidas"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/launch"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Principal"
            android:exported="true" />
        <!--
                <activity
                    android:name=".MainActivity5"
                    android:exported="true" />
        -->
        <activity
            android:name=".UbicacionTiempoRealGps"
            android:exported="true" />
        <activity
            android:name=".ListaCoordenadas"
            android:exported="true" />
        <activity
            android:name=".Splash"
            android:exported="true" />

        <service
            android:name=".BackgroundService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".Historial" />
        <activity android:name=".Llamada_emergencia" />
        <activity android:name=".UbicacionCasa" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC9aWeewLGw-cCfL18medshrGiKQOMNtys" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".Amigos_Cercanos" />
        <!--
         <activity android:name=".Close_Friends"/>

        <meta-data android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC9aWeewLGw-cCfL18medshrGiKQOMNtys"/>
        <activity android:name=".Close_Friends"></activity>
        -->
        <activity android:name=".Descripcion" />
        <activity android:name=".Ajustes" />
        <activity android:name=".SobreNosotros" />
        <activity android:name=".Panel_Alerta" />
        <activity android:name=".MainActivity" />
        <!--
        <activity
            android:name=".Splash"
            android:exported="true"/>
        -->
        <activity
            android:name=".Patron"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>